h1{
  color: rgb(0, 153, 255);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
p{
  font-family: 'Times New Roman', Times, serif;
  margin-left: 50px;
  margin-right: 50px;
  color: rgb(66, 155, 155);
  background-color: white;
}
html{
  background-color: #33FFE8;
  opacity: 50;
}
#img{
  opacity: 50;
}